<div class="container">
    <form class="form mat-elevation-z12">
<h1>Faça seu login</h1>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input [formControl]="email"
            required
            [(ngModel)]="creds.email"
            matInput placeholder="exemplo@email.com">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input [formControl]="senha"
            required
            [(ngModel)]="creds.senha"
            type="password" matInput placeholder="EX : 123">
        </mat-form-field>

        <button [disabled]="!validaCampos()" class="full-width mat-elevation-z8" mat-stroked-button color="primary">
            <strong>Entrar</strong>
        </button>
      </form>
      
</div>
  
