.container{
    height: 100%;
}

.sidenav a{
    color:white;
}

.sidenav i {
    margin-right: .4rem;
}

.sidenav{
    width: 10rem;
    color: white;
    box-shadow: 0 0 8px #555;
    background: rgb(65,65,196);
    background: linear-gradient(141deg, rgba(65,65,196,1) 27%,
    rgba(14,189,245,1) 65%,
    rgba(4,213,255,1) 100%);
}

.menu{
    margin: 10px;
    color: white;
    box-shadow: 0 0 12px #555;
    background: rgb(65,65,196);
    background: linear-gradient(141deg, rgba(65,65,196,1) 27%,
    rgba(14,189,245,1) 65%,
    rgba(4,213,255,1) 100%);
}